/* 
    Author     : Christian H - All code
*/

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

legend {
    height: 24px;
    margin: 0;
}

body {
    margin: 0px;
    height: 100%;
    background: url('/img/stlcc-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-color: rgb(228, 228, 228);
    overflow-y: auto;
    
}

#loginBox {
    display: block;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Source Sans Pro', sans-serif;
}

#contentBox {
    display: block;
    position: relative;
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    padding-top: 50px;
    margin: auto;
    height: 85%;
    width: 75%;
    font-family: 'Source Sans Pro', sans-serif;
}

#contentBox > h1, #contentBox > h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

.contentBoxHeading {
    text-align: center;
    font-weight: normal;
    color: white;
}

.contentBoxHeadingContainer {
    background-color: rgb(0, 36, 83);
    position: absolute;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0;
    right: 100px;
}

.infoTable tr:nth-child(even){
    background-color: rgb(230,232,245);
}

.infoTable {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.infoTable > thead {
    font-weight: bold;
}

.infoTable > thead td {
    background-color: rgb(228, 228, 228);
}

.infoTable td {
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-collapse: collapse;
    padding: 20px;
}

.resultsBox {
    height: 90%;
    overflow-y: auto;
}

#loginBox > p {
    width: 80%;
    display: block;
    margin: auto;
    border-bottom: 1px lightgray solid;
    padding: 10px;
    margin-bottom: 20px;
}

#loginControls {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 5px;
}

.loginControl {
    flex-basis: 30%;
    gap: 20px;
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginControl.button {
    margin: 5px;
    min-width: 40%;
    height: 32px;
    color: white;
    background-color: rgb(0, 36, 83);
    border: 1px solid rgb(0, 36, 83);
    font-size: 14px;
}

.loginControl.button:hover {
    background-color: rgb(0, 22, 51);
    border-color: rgb(0,22,51);
}

.loginControl.button:active {
    border-color: white;
}

.loginErrorMessage {
    color: #d12626;
    text-align: center;
    margin: auto;
}

#header {
    height: 120px;
    background-color: rgb(0,36,83);
    margin: 0px;
}
.headerContent {
    display: flex;
    height: 80px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.headerLogo {
    position: relative;
    min-width: 260px;
    flex-shrink: 0;
}

.headerLogo:hover {
    cursor: pointer;
}

.headerLogo > img {
    max-height: 90%;
    max-width: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.headerHeading {
    height: 70px;
    line-height: 70px;
    width: fit-content;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 40px;
}

.headerHeading > p {
    font-size: 20pt;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.headerButtons {
    display: block;
    height: 40px;
}

.headerButtons div {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-left: 10px;
    float: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 35px;
    width: 35px;
    filter: drop-shadow(0px 0px 10px);
}

.headerButtons div:hover {
    cursor: pointer;
}

.headerRight {
    display: block;
    margin-left: auto;
    flex-shrink: 0;
}

.headerNav {
    display: block;
    height: 35px;
    white-space: nowrap;
    margin-top: 5px;
}

.headerNav > button {
    color: rgb(230, 241, 255);
    background-color: rgb(0, 36, 83);
    border: none;
    font-size: 12pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}

.headerNav > button:hover {
    cursor: pointer;
    color: rgb(83, 133, 199);
}

.headerButtons #logout {
    background: url('/img/logout.png');
}

.headerButtons #user {
    background :url('/img/user.png');
}

.headerButtons #logout:hover {
    background: url('/img/logout_hover.png');
}

.headerButtons #user:hover {
    background :url('/img/user_hover.png');
}

.headerNav > button:active {
    text-shadow: 1px 1px 10px white;
}

#userSearchResultsBox {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: relative;
}

.userMgmtBox table > thead > tr, #userSearchResultsBox table > thead > tr, .resultsBox  table > thead > tr {
    top: 0;
    position: sticky;
}

.userMgmtBox {
    height: 75%;
}

.userMgmtBox table > tbody > tr:hover > td {
    text-decoration: underline;
}

.userMgmtBox table > tbody > tr:hover {
    cursor: pointer;
}

#userSearchBox {
    display: block;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 15%;
}

#attendanceBox {
    display: grid;
    grid-template: 100px 100px 510px / 25% 25% 50%;
    grid-auto-flow: column;
    grid-gap: 10px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 90%;
}

.attendGridItem {
    position: relative;
    border: none;
    background-color: rgba(0,20,150,.1);
    border-radius: 6px;
    box-shadow: 1px 1px 3px;
}

#attendGridItem5 {
    grid-column: 3 / 4;
    grid-row: 1 / 3
}

#attendGridItem6 {
    grid-column: 1 / 4;
}

.attendGridItemHeading {
    position: absolute;
    font-size: 12pt;
    font-weight: bold;
    color: rgb(65, 65, 65);
    top: 2px;
    left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.attendGridItemResult {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 18pt;
    bottom: 5px;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;;
}

#attendClassWindow, .manageUserSubmitWindow, .manageXSubmitWindow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    width: 400px;
    height: fit-content;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
    z-index: 2;
    padding: 20px;
    padding-top: 40px;
}

.submitXWindowAccentSpan {
    color: rgb(0, 36, 83);
}

.windowCloseButton {
    background: url('/img/close.png');
    background-size: contain;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.windowCloseButton:hover {
    background: url('/img/close_hover.png');
    background-size: contain;
    cursor: pointer;
}

.attendFormFieldGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.attendFormFieldBox {
    display: inline-block;
    align-self: start;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.attendFormButtonGroup > button {
    width: 50%;
    min-width: fit-content;
    margin: auto;
}

.attendFormButtonGroup {
    margin-top: 45px;
}

.attendFormDescription {
    flex-grow: 1;
    width: 60%;
    margin: auto;
}

.attendFormInputContainer select {
    text-align: center;
    width: 90%;
}

.attendFormInputContainer {
    width: 90%;
}

.attendFormDescription p {
    padding-bottom: 20px;
}

.attendFormDescription > p,
.userDetailBox > p {
    border-bottom: solid 1px lightgray;
}

#attendWindowMessageBox {
    min-height: 50px;
    max-height: 50px;
    text-align: center;
}

.manageUserDetailsTable,
 .changePasswordTable,
 .addXTable,
 .manageXTable,
 .userDetails {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

.manageUserDetailsTable td,
.changePasswordTable td,
.addXTable td,
.manageXTable td:not(.descriptionCell),
.userDetails td {
    min-width: 50%;
    width: 50%;
    border-collapse: collapse;
    height: 50px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    white-space: nowrap;
}

.manageXTable td.descriptionCell {
    min-width: 50%;
    width: 50%;
    border-collapse: collapse;
    height: 50px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.manageUserDetailsTable td:last-of-type,
 .changePasswordTable td:last-of-type,
 .addXTable td:last-of-type,
 .manageXTable td:last-of-type,
 .userDetails td:last-of-type {
    height: 30px;
}

.manageUserDetailsTable td:nth-child(even), 
.changePasswordTable td:nth-child(even),
.addXTable td:nth-child(even),
.manageXTable td:nth-child(even),
.userDetails td:nth-child(even) {
    border-left: solid 1px lightgray;
    border-collapse: collapse;
    text-align: left;
    padding-left: 80px;
}

.manageUserDetailsHeading, 
.changePasswordHeading, 
.addXHeading,
.manageXHeading {
    display: inline-block;
    height: fit-content;
    margin: 0;
}

.manageUserDetailsFieldSet, 
.changePasswordFieldSet, 
.addXFieldset,
.manageXFieldset,
.userDetailsFieldset {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.changePasswordTable input{
    border: 1px solid gray;
    border-radius: 0;
    padding: 8px;
}

.manageUserDetailsHeading p,
.addXHeading,
.manageXHeading p {
    margin: 0;
}

.manageUserEditButton,
.manageUserConfirmButton,
.manageXEditButton,
.manageXConfirmButton {
    background-size: contain;
    width: 24px;
    height: 24px;
}
.manageUserEditButton.editButtonEdit,
.manageXEditButton.editButtonEdit {
    background-image: url('/img/edit.png');
}

.manageUserEditButton:hover.editButtonEdit:hover,
.manageXEditButton:hover.editButtonEdit:hover {
    background-image: url('/img/edit_hover.png');
}

.manageUserEditButton.editButtonClose,
.manageXEditButton.editButtonClose {
    background-image: url('/img/cancel.png');
}

.manageUserEditButton:hover.editButtonClose:hover,
.manageXEditButton:hover.editButtonClose:hover {
    background-image: url('/img/cancel_hover.png');
}

.manageUserConfirmButton,
.manageXConfirmButton {
    background-image: url('/img/confirm.png');
}

.manageUserConfirmButton:hover,
.manageXConfirmButton:hover {
    background-image: url('/img/confirm_hover.png');
}

.manageUserInputTitle,
.addXInputTitle,
.manageXInputTitle {
    color: rgb(0, 36, 83);
    margin: 0;
    margin-bottom: 5px;
}

.manageUserEditBox,
.manageXEditBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 24px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-right: 24px;
    border-bottom: 1px solid lightgray;
}

.descriptionEditBox {
    height: auto;
}

.manageUserEditBox > div,
.manageXEditBox > div{
    display: inline-block;
}

.manageUserInputContainer, 
.manageUserDetailResultBox,
.addXInputContainer,
.manageXInputContainer,
.manageXDetailResultBox,
.addXResultBox {
    text-align: left;
    display: inline;
    width: 330px;
}

.manageUserDetailResultBox p,
.manageUserInputContainer input,
.manageUserInputContainer label,
.addXInputContainer input,
.addXInputContainer input,
.addXTextArea,
.addXInputContainer select,
.manageXInputContainer input,
.manageXInputContainer select,
.manageXDetailResultBox p,
.manageXInputContainer textarea,
.userDetailContainer p {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 0;
    width: 98%;
    padding: 2px;
    font-size: 12pt;
}

.addXInputDaysContainer input {
    width: auto;
}


.decriptioncell {
    white-space: wrap;
}

.manageUserInputContainer span,
.addXInputContainer span,
.manageXInputContainer span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}

.manageUserDetailResultBox p,
.manageUserInputContainer label,
.manageXDetailResultBox p,
.manageXInputContainer label,
.addXResultBox p,
.addXInputContainer label {
    border: 2px solid transparent;
    height: 20px;
}

.courseDescriptionBox p {
    height: auto;
}

.manageUserInputContainer input.accountDisabledArea,
 .addXInputContainer input.accountDisabledArea,
 .manageXInputContainer input.classCanceledArea,
  #userTypeSelectBox  {
    width: fit-content;
}

.addXTextArea,
.manageXTextArea {
    height: 120px;
    max-width: 98%;
}

.changePasswordSubmitRow > td,
.addXSubmitRow > td,
.manageXSubmitRow > td {
    padding-top: 10px;
}

.changePasswordResultBox, .changeUserPasswordResultBox, .changeUserDetailResultBox, .manageXResultBox {
    display: block;
    height: 31px;
    width: 50%;
    margin: auto;
}

.changePasswordResultBox > p, .changeUserPasswordResultBox > p, .changeUserDetailResultBox > p, .manageXResultBox > p {
    margin: 0;
    padding-top: 10px;
}

.manageUserDetailsTable#userPassword input {
    border: 1px solid gray;
    border-radius: 0;
    padding: 8px;
}

#reportCenterBox {
    width: 95%;  
    height: 85%;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
}

#reportControlBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 95%;
    height: 15%;
    margin: auto;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;

}

#reportBox {
    width: 95%;
    height: 85%;
    margin: auto;
    padding: 10px;
    padding-top: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    overflow: auto;
}

#reportBox > table > thead > tr{
    top: 0;
    position: sticky;
}

.reportControlContainer {
    flex: 1 1 0;
    margin-left: 10px;
    margin-right: 10px;
    height: fit-content;
    text-align: center;
}

.reportControlContainer > p{
    margin-top: 0px;
    margin-bottom: 3px;
}

.reportControlContainer select, .reportControlContainer input {
    border: 1px solid black;
    border-radius: 3px;
    width: fit-content;
    height: 32px;
}

.reportControlContainer select:disabled {
    border-color: gray;
    color: gray;
}

.reportQueryContainer select {
    width: 180px;
}

.reportDownloadButton {
    background-image: url("/img/print.png");
    background-size: contain;
    height: 32px;
    width: 32px;
    margin-left: 10px;
}

.reportDownloadButton:hover {
    cursor: pointer;
    background-image: url("/img/print_hover.png");
}

.reportGenerateButton {
    height: 32px;
    width: 80px;
}

.reportButtonSubContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.reportDetail {
    font-weight: bold;
}

.reportTable tr:nth-child(even) > td {
    background-color: rgb(230,232,245);
}

.reportTable tr:nth-child(even of .reportData) > td {
    background-color: rgb(230,232,245);
}

.reportTable tr:nth-child(odd of .reportData) > td {
    background-color: white;
}

.reportTable {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.reportTable > thead {
    font-weight: bold;
}

.reportTable > thead td {
    background-color: rgb(228, 228, 228);
}

.reportTable td {
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-collapse: collapse;
    padding: 10px;
}

.reportPlaceholderText {
    font-size: 16pt;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 10%;
    justify-content: center;
}

.latestClassesBox {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

.latestClassesBox > ul > li{
    padding: 1px;
}

.adminNavBox {
    display: flex;
    width: 90%;
    height: 80%;
    margin: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap:5%;
}

.adminColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10%;
}

.adminLinkBox {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        height: 64px;
        border: 3px solid rgb(0,36,83);
        border-radius: 10px;
        padding: 5px;
}

.adminLinkBox p{
    padding: 20px;
    width: 100%;
    font-size: 20pt;
    color: rgb(0, 36, 83);
    text-align: center;
}

.adminLinkBox.adminAddEnrollmentBox {
    width: 30%;
    margin: auto;
}

.adminLinkBox {
    cursor: pointer;
}

.adminLinkBox:hover p {
    color: rgb(83, 133, 199);
}

.adminLinkBox:hover {
    border-color:rgb(83, 133, 199)
}

.adminImage {
    width: 64px;
    height: 64px;
}

.addClassImage{
    content: url("/img/icons/admin/add_class.png");
}

.addCourseImage{
    content: url("/img/icons/admin/add_course.png");
}

.addUserImage{
    content: url("/img/icons/admin/add_user.png");
}

.addAttendanceImage{
    content: url("/img/icons/admin/add_attendance.png");
}

.addenrollmentImage{
    content: url("/img/icons/admin/add_enrollment.png");
}

.editClassImage{
    content: url("/img/icons/admin/edit_class.png");
}

.editCourseImage{
    content: url("/img/icons/admin/edit_course.png");
}

.editUserImage{
    content: url("/img/icons/admin/edit_user.png");
}

.editAttendanceImage{
    content: url("/img/icons/admin/edit_attendance.png");
}

.adminLinkBox:hover .addClassImage {
content: url("/img/icons/admin/add_class_hover.png");
}

.adminLinkBox:hover .addCourseImage {
content: url("/img/icons/admin/add_course_hover.png");
}

.adminLinkBox:hover .addUserImage {
content: url("/img/icons/admin/add_user_hover.png");    
}

.adminLinkBox:hover .addAttendanceImage {
content: url("/img/icons/admin/add_attendance_hover.png");    
}

.adminLinkBox:hover .addEnrollmentImage{
    content: url("/img/icons/admin/add_enrollment_hover.png");
}

.adminLinkBox:hover .editClassImage{
    content: url("/img/icons/admin/edit_class_hover.png");
}

.adminLinkBox:hover .editCourseImage{
    content: url("/img/icons/admin/edit_course_hover.png");
}

.adminLinkBox:hover .editUserImage{
    content: url("/img/icons/admin/edit_user_hover.png");
}

.adminLinkBox:hover .editAttendanceImage{
    content: url("/img/icons/admin/edit_attendance_hover.png");
}