/* 
    Author     : Christian H - All code
*/
body {
    margin: 0px;
}

#loginBox {
    display: block;
    padding: 20px;
    border: 1px lightgray solid;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contentBox {
    display: block;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

#loginBox > p {
    width: 80%;
    display: block;
    margin: auto;
    border-bottom: 1px lightgray solid;
    padding: 10px;
    margin-bottom: 20px;
}

#loginControls {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 5px;
}

.loginControl {
    flex-basis: 30%;
    gap: 20px;
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginControl.button {
    margin: 5px;
    min-width: 40%;
    height: 32px;
    color: white;
    background-color: rgb(0, 36, 83);
    border: 1px solid rgb(0, 36, 83);
    font-size: 14px;
}

.loginControl.button:hover {
    background-color: rgb(0, 22, 51);
    border-color: rgb(0,22,51);
}

.loginControl.button:active {
    border-color: white;
}

#header {
    height: 100px;
    background-color: rgb(0,36,83);
    margin: 0px;
}
.headerContent {
    display: flex;
    height: 70px;
    padding: 15px;
}

.headerLogo {
    position: relative;
    width: 300px;
    min-width: 300px;
    flex-shrink: 0;
}

.headerLogo > img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.headerHeading {
    height: 70px;
    line-height: 70px;
    width: fit-content;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 20px;
}

.headerHeading > p {
    font-size: 20pt;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.headerNav {
    display: block;
    margin-left: auto;
    flex-shrink: 0;
}

.headerNav > button {
    color: rgb(230, 241, 255);
    background-color: rgb(0, 36, 83);
    border: none;
    font-size: 12pt;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    line-height: 70px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}

.headerNav > button:hover {
    cursor: pointer;
    color: rgb(83, 133, 199);
}