/* 
    Author     : Christian H - All code
*/
body {
    margin: 0px;
}

#loginBox {
    display: block;
    padding: 20px;
    border: 1px lightgray solid;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contentBox {
    display: block;
    padding: 20px;
    margin: auto;
    width: 80%;
}

#loginBox > p {
    width: 80%;
    display: block;
    margin: auto;
    border-bottom: 1px lightgray solid;
    padding: 10px;
    margin-bottom: 20px;
}

#loginControls {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 5px;
}

.loginControl {
    flex-basis: 30%;
    gap: 20px;
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginControl > .button {
    min-width: 30%;
}

#header {
    height: 100px;
    background-color: rgb(0,36,83);
    margin: 0px;
}
.headerContent {
    padding: 15px;
}

.headerLogo {
    width: 355px;
    height: 60px;
}